:root {
    --background-color: #2D3142;
    --border-color: #B1B7D1;
    --highlight-color: #E34A6F;
  }
  
  body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1, h2, h3, a, p, span {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
    margin: 0px;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    color: var(--highlight-color);
  }
  
  nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 3rem 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }  
  
  #nav-name {
    flex-basis: 50%;
  }

  
  #nav-link {
    display: flex;
    flex-basis: 100%;
    gap: 6rem; 
    justify-content: center;
  }
  
  main {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
  }
  
  article {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: transform 400ms ease;  
  }
  
  main > article[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
  }
  
  main > article[data-status="active"] {
    transform: translateX(0%);
  }
  
  main > article[data-status="before"] {
    transform: translateX(-100%);
  }
  
  main > article[data-status="after"] {
    transform: translateX(100%);
  }
  
  main > article[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
  }
  
  main > article[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
  }
  
  main > article > .article-section {
    height: 100%;
    display: flex;
  }
  
  main > article > .article-description,
  main > article > .article-nav-section {
    border-left: 1px solid var(--border-color);
  }
  
  main > article > .article-title,
  main > article > .article-nav-section {
    border-top: 1px solid var(--border-color);
  }
  
  main > article > .article-image-section {
    background-position: center;
    background-size: cover;
  }
  
  main > article > .article-description {
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem; 
  }
  
  main > article > .article-description > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25em;
  }
  
  main > article > .article-description > p  > a:hover {
    text-decoration: underline;
  }
  
  main > article > .article-title {
    align-items: center; 
    justify-content: space-between;
    padding: 2rem 4rem;
  }
  
  main > article > .article-title * {
    color: var(--highlight-color);
  }
  
  main > article > .article-title > h2 {
    flex-basis: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    margin: 0px;
    text-transform: uppercase;
  }
  
  main > article > .article-nav-section > .article-nav-button {
    background-color: transparent;
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 3rem;
    cursor: pointer;
  }
  
  main > article > .article-nav-section > .article-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.02);
  }
  main > article > .article-nav-section > .article-nav-button img {

    transform: scale(1.0);
    transition: transform 0.3s ease; 
  }
  main > article > .article-nav-section > .article-nav-button:hover img {

    transform: scale(1.15);
    transition: transform 0.3s ease; 
  }
  
  section#about-me {
    background-color: var(--background-color);
    color: white;
    padding: 4rem;
    text-align: center;
}

.section-content img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.section-content h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: var(--highlight-color);
}

.section-content p {
    font-family: "Rubik", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 1rem;
}

.section-content a.cv-link {
  background-color: var(--highlight-color);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.section-content a.cv-link:hover {
  background-color: darken(var(--highlight-color), 10%);
}

section#cv{
  text-align: center; 
  margin: 0 auto; 
  max-width: 100%; 
  overflow: hidden;
}

iframe {
  width: 80%; 
  height: 400px; 
  border: none; 
  overflow: auto; 
  display: inline-block; 

}

@media screen and (max-width: 768px) {
  iframe {
      width: 100%; /* Full width on smaller screens */
      height: 300px; /* Adjust height accordingly */
  }
}
